.sidebar {
  margin: 0;
  padding-top: 15px;
  width: 200px;
  background-color: #FFFFFF;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #0096FF;
  padding: 8px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0096FF;
  color: white;
}

/* Links on mouse-over 
.sidebar a:hover:not(.active) {
  color: white;
} */

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  background-color: #f1f1f1;
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
caption {
  caption-side: top;
  color: black;
  font-family: Verdana;
}
